body {
   
    background-image: url(../images/logo_x_pattern.png);
    font-family: Arial, Helvetica, sans-serif;
    height: 550px;
    
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    background: teal;
    height: 75px;
    width: 112px;
    color: white;
    margin-left: 200px;
  

}

.flex-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;
    right:0;
    padding: 10px;
    margin-top: 10px;
    
}


#about { 
    padding: 10px;
    border-right: solid grey 1px;
}

#portfolio {
    padding: 10px;
    border-right: solid grey 1px;
    
    
}

#contact {
    padding: 10px;
    
}

.wrapper {
   height: 960px;
   width: 960px;
   border: solid black 1px;
   margin-left: 200px;
   background: white;
   height: 350px;
}

h2 {
   
    margin-bottom: 50px;
    padding-bottom: 15px;
    color: teal;
   
   
}

p {
    margin: 0 auto;
}
#p1 {
    margin-left: 22%;
}

#p2 {
    margin-left: 22%;
}

#img { 
    position: absolute;
    left:212px;
    top:235px;
    
}

a {
    color: gray;
}

.foot {
    position: relative;
    bottom: 0;
}

footer {
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background: #666666;
    width: 1280px;
    position: relative;
    bottom: -170px;
  
}