body {
   
    background-image: url(../images/logo_x_pattern.png);
    font-family: Arial, Helvetica, sans-serif;
   
    color: #777777;
    
}

.nav {
    
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-bottom: 20px;
        background: #ffffff;
        height: 95px;
        margin-top: -22px;
        color: white;
        margin-left: -10px;
        margin-right: -10px;
        padding: 0;
        border: #dddddd solid 1px;
}

h1 {
    background-color: teal;
    height: 75px;
    width: 112px;
    margin-left: 210px;
}

.container {

    height: 960px;
   
    
}

#h2 {
    border-bottom: solid grey 1px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;
    right:0;
    padding: 10px;
    margin-top: 10px;
    height: 50px;
    
}


#about { 
    padding: 10px;
    border-right: solid grey 1px;
}

#portfolio {
    padding: 10px;
    border-right: solid grey 1px;
    
    
}

#contact {
    padding: 10px;
    
}

.wrapper {
   height: 600px;
   width: 960px;
   border: solid black 1px;
   margin-left: 200px;
   background: white;
   height: 350px;
   padding: 10px;
}

.wrapper1 {
    height: 600px;
    width: 960px;
    border: solid black 1px;
    margin-left: 200px;
    background: white;
    height: 350px;
    padding: 10px;
}

h2 {
   
    margin-bottom: 50px;
    padding-bottom: 15px;
    color: teal;
   
   
}

p {
    margin: 0 auto;
}
#p1 {
    margin-left: 22%;
}

#p2 {
    margin-left: 22%;
}

#img { 
    position: absolute;
    left:212px;
    top:235px;
    
}

a {
    color: gray;
}

.foot {
    position: relative;
    bottom: 0;
}

footer {
    border-top: 8px solid #4aaaa5;
    text-align: center;
    background: #666666;
    width: 1280px;
    position: relative;
    bottom: -170px;
}

input[type=text], select, textarea {
    width:100%;
    

}

